@import "styles/_unit.scss";

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: rem(32);
  height: rem(32);
  border: none;
  border-radius: 100px;
  background: #f8fafb;
  cursor: pointer;
}

.dialog_content {
  padding: rem(32) rem(40) rem(32);
  position: relative;
  min-height: rem(520);
  border-radius: rem(12);
  background: #fff;

  .dialog_context {
    h2 {
      font-family: "SF Pro Display";
      font-weight: 700;
      font-size: rem(40);
      line-height: rem(48);
      margin: 0 0 rem(24);
    }
    p {
      font-family: "SF Pro Display";
      font-weight: 400;
      font-size: rem(20);
      line-height: rem(24);
      color: #5b6871;
      margin: 0 0 rem(24);
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 0 0 rem(16);
        padding: rem(12) 0 rem(12) rem(16);
        height: rem(48);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        background: #ffffff;

        &::placeholder {
          font-family: "SF Pro Display";
          font-weight: 400;
          font-size: rem(15);
          line-height: rem(24);
          color: #48535b;
          outline: none;
        }
      }
      button {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(30);
        margin: rem(16) 0 0;
        color: #fff;
        height: 58px;
        border: none;
        border-radius: 5px;
        background: #1b5bf7;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: rem(600)) {
    padding: rem(24);
    min-height: rem(250);

    .dialog_context {
      h2 {
        font-size: rem(24);
        line-height: rem(29);
        margin: 0 0 rem(24);
      }
      p {
        font-size: rem(16);
        line-height: rem(19);
        margin: 0 0 rem(24);
      }

      form {
        input {
          margin: 0 0 rem(16);
          padding: rem(12) 0 rem(12) rem(16);

          &::placeholder {
            font-size: rem(12);
            line-height: rem(16);
          }
        }
        button {
          font-size: rem(18);
          line-height: rem(30);
          margin: rem(32) 0 0;
        }
      }
    }
  }
}