@import "unit";
@import "../../public/fonts/font.css";

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  font-family: "SF Pro Display";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.container {
  max-width: rem(1296) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: rem(40);
  line-height: rem(48);
  text-align: center;
  color: #000;
  margin-bottom: rem(40);

  @media screen and (max-width: rem(768)) {
    font-size: rem(28);
    line-height: rem(38);
    margin-bottom: rem(24);
  }

  @media screen and (max-width: rem(576)) {
    text-align: left;
    font-size: rem(24);
    line-height: rem(35);
    margin-bottom: rem(16);
  }
}

#banner .MuiContainer-root {
  padding-right: 0;
}

// Feedback Component
// graduates_slider
.graduates_slider {
  padding-bottom: rem(24);
}

.graduates_slider .slick-dots {
  position: absolute;
}

.graduates_slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 rem(5);
}

.graduates_slider .slick-dots li button::before {
  font-size: 10px;
  color: #bdbdbd;
  opacity: 1 !important;

  &:hover::before {
    opacity: 0 !important;
  }
}

.graduates_slider .slick-dots {
  height: rem(32);

  li {
    margin: 0 rem(2);
  }
}

.graduates_slider .slick-dots li.slick-active button::before {
  color: #0071ff;
  border: none;
  font-size: 12px;
}

// Accordion Study Plan Component
#study_plan {
  .MuiPaper-root .MuiAccordion-root {
    background-color: none !important;
    display: none;
  }

  .MuiButtonBase-root {
    padding: rem(24);
    background: #f3f7ff;

    @media screen and (max-width: rem(576)) {
      padding: rem(12);
      background: #fff;
    }
  }

  .MuiButtonBase-root[aria-expanded="true"] {
    padding-bottom: rem(12);
  }

  .MuiAccordionSummary-content {
    margin: 0 !important;
  }
}

#panel1bh-header {
  .MuiAccordionSummary-expandIconWrapper {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(8);

    @media screen and (max-width: rem(576)) {
      width: rem(32);
      height: rem(32);
    }
  }
}

// Accordion Question Component
#question_content {
  .MuiButtonBase-root {
    padding: rem(24) rem(24);
  }

  .MuiButtonBase-root[aria-expanded="true"] {
    padding-bottom: rem(12);
  }

  .MuiPaper-root {
    color: none;
    background-color: none !important;
  }

  .MuiAccordionSummary-content {
    margin: 0 !important;
  }
}

#question_accordion {
  .MuiAccordionSummary-expandIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #f8fafb;
  }
}

#dialog {
  .MuiPaper-root {
    overflow-y: inherit !important;
    border-radius: 12px !important;
  }
}

#feedback_dialog {
  .MuiPaper-root {
    overflow-y: inherit !important;
    border-radius: 12px !important;
    background: none;
  }
}

// Disable both accordion box-shadow
#accordion {
  box-shadow: none !important;

  @media screen and (max-width: rem(576)) {
    box-shadow: 1px -1px #0000000f, -1px 1px #0000000f, 1px 1px #0000000f,
      -1px -1px #0000000f !important;
  }
}

// teachers slider
.teachers_slider {
  padding-bottom: rem(30);

  @media screen and (max-width: rem(786)) {
    padding-bottom: rem(10);
  }
}

.teachers_slider .slick-dots {
  position: absolute;
  bottom: 0;
  right: rem(32);
  max-width: rem(471);
}

.teachers_slider .slick-dots li {
  width: rem(10);
  height: rem(10);
  margin: 0 rem(2);
}

.teachers_slider .slick-dots li button:before {
  font-size: rem(10);
  line-height: rem(10);
  color: #bdbdbd;
  opacity: 1 !important;
}

.teachers_slider .slick-dots li.slick-active button::before {
  color: #0071ff;
  border: none;
  font-size: rem(12);
}

.slick-slide > div {
  padding: 0 5px;
}
