@import "styles/_unit.scss";

.footer {
  padding: rem(40) 0 rem(32);

  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: rem(88);
    padding-bottom: rem(40);
    border-bottom: 1px solid #0000001f;
  }

  &_logo {
    display: block;
    position: absolute;
    top: rem(8);
    left: 0;
    width: rem(140);
    height: rem(32);
  }

  &_links {
    display: flex;
    column-gap: rem(40);

    a {
      font-family: "SF Pro Display";
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #252c32;
    }
  }

  &_contacts {
    &_container {
      display: none;
    }

    &_item {
      margin-bottom: rem(24);

      h4 {
        font-family: "SF Pro Display";
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        margin-bottom: rem(4);
      }

      p {
        font-family: "SF Pro Display";
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
      }
    }

    &_item:not(:last-child) {
      margin-bottom: rem(24);
    }

  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(40);
  }

  &_copyright {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #252c32;
  }

  &_socials {
    display: flex;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(24);
      height: rem(24);

      &:not(:last-child) {
        margin-right: rem(40);
      }
    }
  }

  @media screen and (max-width: rem(768)) {
    padding: rem(40) 0;
    
    &_top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      border: none;
    }

    &_links {
      flex-direction: column;
      row-gap: rem(24);
      margin-bottom: rem(32);
    }

    &_logo {
      position: static;
      margin-bottom: rem(32);
    }

    &_contacts_container {
      display: block;
    }

    &_bottom {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: stretch;
      margin: 0;
    }

    &_copyright {
      margin-top: rem(32);
    }

    &_socials {
      padding-bottom: rem(32);
      border-bottom: 1px solid #0000001f;
    }
  }
}
