@import "styles/_unit.scss";

.employers {
  background: #fff;
  padding: rem(60) 0 0;

  &_container {
    padding: rem(40) rem(20) rem(60);
    box-sizing: content-box;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    
  }

  .employers_title {
    font-size: rem(40);
    line-height: rem(48);
    font-weight: 700;
    color: #000;
    font-family: "SF Pro Display";
    text-align: center;
  }
  .employers_content {
    display: flex;
    flex-wrap: nowrap;
    column-gap: rem(23);

    .employers_content_item {
      flex: 0 0 auto;
      width: rem(222);
      height: rem(99);
      background: #ffffff;
      box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.16);
      border-radius: 8px;
      transform: matrix(1, 0, 0, 1, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(2) {
        background: #fde61d;
      }
      &:nth-child(4) {
        background: #43a250;
      }
      &:nth-child(5) {
        background: #ffec00;
      }
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(32) 0 0;

    &_container {
      padding: rem(16) 0 rem(32);
    }

    .employers_title {
      font-size: rem(24);
      line-height: rem(35);
      text-align: left;
    }
  }
}
