@import "styles/_unit.scss";

.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  min-height: rem(72);
  z-index: 999;
  background: #fff;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

  @media screen and (max-width: rem(768)) {
    &.active {
      background: #fff;
    }

    position: fixed;
    min-height: rem(59);
    background: transparent;
    filter: none;

    .desktop_topbar {
      display: none;
    }
  }

  // Desktop Topbar
  .desktop_topbar {
    padding: rem(17) 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;

    .desktop_topbar_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .desktop_logo {
        width: rem(140);
      }

      .contact_panel {
        display: flex;
        align-items: center;
        min-width: rem(100);

        a {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-weight: 500;
            font-size: rem(18);
            line-height: rem(14);
            color: #000;
            margin-top: rem(10);
            margin-left: rem(8);
          }
        }

        span {
          margin-bottom: rem(10) !important;
        }
      }

      .topbar_links {
        .topbar_link {
          font-family: "SF Pro Display";
          font-weight: 500;
          font-size: rem(18);
          line-height: rem(20);
          color: #252c32;

          &:not(:last-child) {
            margin-right: rem(40);
          }
        }
      }

      .register_btn {
        font-family: "SF Pro Display";
        font-weight: 500;
        font-size: rem(17);
        line-height: rem(22);
        text-transform: none;
        color: #fff;
        margin-left: rem(26);
        width: rem(127);
        height: rem(38);
        background: #1b5bf7;
        border-radius: rem(6);
        text-align: center;
        padding: rem(8) rem(20);
      }
    }
  }

  // Mobile Topbar
  .mobile_topbar {
    @media screen and (max-width: rem(768)) {
      display: block;
    }

    display: none;
    padding: rem(16) 0;
    min-height: rem(60);

    .mobile_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_btn {
        border: none;
        background: none;
      }
    }
  }
}

// Mobile Drawer
.mobile_header {
  &_drawer {
    display: flex;
    flex-direction: column;
    min-width: rem(325);
    height: 100%;
  }

  &_brand {
    display: flex;
    padding: rem(19.5) rem(16);

    button {
      border: none;
      background: none;
      margin-right: rem(53);

      svg {
        display: block;
      }
    }
  }

  &_drawer_logo {
    display: block;
  }

  &_links {
    display: flex;
    flex-direction: column;
    margin-top: rem(40);
  }

  &_link {
    font-weight: 400;
    font-size: rem(17);
    line-height: rem(22);
    padding: rem(17) rem(18);
    color: #000;
    box-shadow: inset 0px -1px 0px #e5e9eb;
  }

  &_phone {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: rem(16) rem(21);
    box-shadow: inset 0px 1px 0px #e5e9eb;

    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(44);
      height: rem(44);
      margin-right: rem(16);
      border-radius: 50%;
      background-color: #1b5bf7;
    }

    &_number {
      font-family: "SF Pro Display";
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
      color: #525252;
    }
  }
}

// .close_icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
//   width: rem(32);
//   height: rem(32);
//   border: none;
//   border-radius: 100px;
//   background: #f8fafb;
//   cursor: pointer;
// }

// .dialog_content {
//   padding: rem(32) rem(40) rem(32);
//   position: relative;
//   min-height: rem(520);
//   border-radius: rem(12);
//   background: #fff;

//   .dialog_context {
//     h2 {
//       font-family: "SF Pro Display";
//       font-weight: 700;
//       font-size: rem(40);
//       line-height: rem(48);
//       margin: 0 0 rem(24);
//     }
//     p {
//       font-family: "SF Pro Display";
//       font-weight: 400;
//       font-size: rem(20);
//       line-height: rem(24);
//       color: #5b6871;
//       margin: 0 0 rem(24);
//     }

//     form {
//       display: flex;
//       flex-direction: column;

//       input {
//         margin: 0 0 rem(16);
//         padding: rem(12) 0 rem(12) rem(16);
//         height: rem(48);
//         border: 1px solid rgba(0, 0, 0, 0.12);
//         border-radius: 5px;
//         background: #ffffff;

//         &::placeholder {
//           font-family: "SF Pro Display";
//           font-weight: 400;
//           font-size: rem(15);
//           line-height: rem(24);
//           color: #48535b;
//           outline: none;
//         }
//       }
//       button {
//         font-weight: 600;
//         font-size: rem(18);
//         line-height: rem(30);
//         margin: rem(16) 0 0;
//         color: #fff;
//         height: 58px;
//         border: none;
//         border-radius: 5px;
//         background: #1b5bf7;
//         cursor: pointer;
//       }
//     }
//   }

//   @media screen and (max-width: rem(600)) {
//     padding: rem(24);
//     min-height: rem(250);

//     .dialog_context {
//       h2 {
//         font-size: rem(24);
//         line-height: rem(29);
//         margin: 0 0 rem(24);
//       }
//       p {
//         font-size: rem(16);
//         line-height: rem(19);
//         margin: 0 0 rem(24);
//       }

//       form {
//         input {
//           margin: 0 0 rem(16);
//           padding: rem(12) 0 rem(12) rem(16);

//           &::placeholder {
//             font-size: rem(12);
//             line-height: rem(16);
//           }
//         }
//         button {
//           font-size: rem(18);
//           line-height: rem(30);
//           margin: rem(32) 0 0;
//         }
//       }
//     }
//   }
// }
