@import "styles/_unit.scss";

.graduates {
  padding: rem(60) 0;
  width: 100%;

  .graduates_content {
    .graduates_content_item {
      position: relative;
      border-radius: rem(8);
      overflow: hidden;
      max-width: rem(294);
      height: rem(439);

      .graduates_content_img {
        position: relative;
        display: block;

        max-width: rem(294);
        height: rem(439);
      }

      .graduates_control_panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: url("../../../../public/images/graduates_layer.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: rem(24) rem(24) 0;

        &:hover {
          .graduates_play_btn {
            display: block;
          }
        }

        .graduates_play_btn {
          width: rem(197);
          height: rem(52);
          background: #fff;
          border-radius: rem(8);
          text-transform: none;
          display: none;
          transition: 1.2s ease;

          @media screen and (max-width: rem(576)) {
            display: block;
          }

          span {
            font-size: rem(17);
            line-height: rem(22);
            font-weight: 400;
            font-family: "SF Pro Display";
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        h3 {
          font-size: rem(18);
          line-height: rem(20);
          font-weight: 600;
          font-family: "Inter";
          color: #fff;
          position: absolute;
          bottom: rem(24);
        }
      }
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(32) 0;
  }
}
.feedback_dialog {
  width: 400px;
  height: 708px;
  border-radius: rem(8);
  overflow: hidden;

  .iframe {
    border: none;
  }
}
.close_icon {
  position: absolute;
  right: -100%;
  width: rem(32);
  height: rem(32);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
