@import "styles/_unit.scss";

.studyPlan {
  padding: rem(60) 0;

  .studyPlan_title {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: rem(40);
    line-height: rem(47);
    text-align: center;
    color: #000;
  }

  .studyPlan_content {
    width: 100%;
    margin: rem(40) 0 0;
  }

  .accordion {
    background-color: none !important;
    border-radius: rem(8) !important;
    overflow: hidden;
    

    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    .accordion_title {
      font-family: "SF Pro Display";
      font-weight: 700;
      font-size: rem(20);
      line-height: rem(25);
      color: #000;
    }

    .accordion_details {
      border-bottom-left-radius: rem(8);
      border-bottom-right-radius: rem(8);
      background: #f3f7ff;

      .accordion_content {
        padding: 0 0 rem(16) rem(48);

        li {
          font-family: "SF Pro Display";
          font-weight: 400;
          font-size: rem(17);
          line-height: rem(28);
          color: #1a2024;

          &:not(:last-child) {
            margin-bottom: rem(12);
          }
        }
      }
    }
  }

  @media screen and (max-width: rem(786)) {
    .accordion {
      .accordion_title {
        max-width: rem(400);
      }
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(32) 0;

    .accordion {
      .accordion_details {
        background-color: #fff;
        border-top: 1.5px solid #0000000f;
      }
    }

    .studyPlan_title {
      font-size: rem(24);
      line-height: rem(35);
      text-align: left;
    }

    .studyPlan_content {
      margin-top: rem(16);
    }

    .accordion {
      .accordion_title {
        max-width: rem(267);
        font-size: rem(16);
        line-height: rem(22);
      }
    }
  }
}
