@import "styles/_unit.scss";

.courses {
  width: 100%;
  padding: rem(60) 0;
  background: #f3f7ff;

  &_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: rem(24);
    row-gap: rem(28);

    &_item {
      padding: rem(8) rem(12) rem(24);
      border-radius: 6px;
      background: #ffffff;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
    }
    
    &_img {
      position: relative;
      width: 100%;
      height: rem(212);
      border-radius: rem(6);
      margin-bottom: rem(24);
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
      }
    }

    &_context {
      h4 {
        font-family: "SF Pro Display";
        font-weight: 600;
        font-size: rem(24);
        line-height: rem(32);
        color: #18191f;
        margin: 0 0 rem(12);
      }

      p {
        font-family: "SF Pro Display";
        font-size: rem(16);
        line-height: rem(24);
        color: #5b6871;
        max-width: rem(286);
        margin: 0 0 rem(24);
      }

      a {
        font-family: "SF Pro Display";
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        color: #1b5bf7;
      }
    }
  }

  @media screen and (max-width: rem(992)) {
    &_content {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: rem(20);

      &_img {
        margin-bottom: rem(20);
      }

      &_context {
        h4 {
          margin-bottom: rem(10);
        }

        p {
          margin-bottom: rem(20);
        }
      }
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(32) 0;
    
    &_content {
      gap: rem(16);

      &_item {
        padding: rem(12) rem(12) rem(20);
      }

      &_img {
        margin-bottom: rem(16);
      }

      &_context {
        h4 {
          margin-bottom: rem(8);
        }

        p {
          margin-bottom: rem(16);
        }
      }
    }
  }
}
